@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-flowcare-primary: #00A389;
  --color-flowcare-accent: #607d8b;
}

:root {
  --background: #F9FAFB;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

@layer utilities {
  .flowcare-primary { background-color: var(--color-flowcare-primary); }
  .flowcare-primary-text { color: var(--color-flowcare-primary); }
  .flowcare-primary-light { background-color: #E0F2F1; }
  
  .flowcare-accent { background-color: var(--color-flowcare-accent); }
  .flowcare-accent-text { color: var(--color-flowcare-accent); }
  
  .traffic-low-bg { background-color: #4CAF50; }
  .traffic-moderate-bg { background-color: #FFC107; }
  .traffic-high-bg { background-color: #F44336; }
  
  .traffic-low-text { color: #4CAF50; }
  .traffic-moderate-text { color: #FFC107; }
  .traffic-high-text { color: #F44336; }
}

/* Custom styles for active sidebar links */
a.sidebar-active-patient, a.sidebar-active-patient:hover {
  background-color: var(--color-flowcare-primary);
  color: white !important;
  font-weight: 600;
}
a.sidebar-active-provider, a.sidebar-active-provider:hover {
  background-color: var(--color-flowcare-accent);
  color: white !important;
  font-weight: 600;
}

/* Custom Dropdown Styles */
.custom-dropdown-options {
  transition: all 0.2s ease-in-out;
  transform-origin: top;
}

/* --- CHATBOT STYLES --- */
#chatbot-widget {
  z-index: 1000;
  user-select: none;
  height: 28rem;
}
#chatbot-header {
  cursor: move;
}
